*{
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}


/* Header area start */
.header_part{
    height: 100vh;
    width: auto;
    background-image: url(../images/slider_6_1920_600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.header_part .overlay_part{
    height: 130px;
    width: auto;
    background: black;
    opacity: .8;
}
.header_part .overlay_part .container{
    position: relative;
}
.header_part .overlay_part .container .logo_part{}
.header_part .overlay_part .container .logo_part img{
    margin-top: 10px;
    height: 110px;
    width: 100px;
}
.header_part .overlay_part .container .menu_part{}
.header_part .overlay_part .container .menu_part .menu{}
.header_part .overlay_part .container .menu_part .menu ul{  }
.header_part .overlay_part .container .menu_part .menu ul li{
    float: left;
}
.header_part .overlay_part .container .menu_part .menu ul li a{
    text-transform: uppercase;
    line-height: 90px;
    color: white;
    margin-right: 82px;
}
.header_part .overlay_part .container .menu_part .menu ul li a:hover{}
.header_part .overlay_part .container .button_part{}
.header_part .overlay_part .container .button_part button{
    margin-top: 40px;
    background: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    margin-left: -33px;
}
.header_part .overlay_part .container .button_part button:hover{
    background: green;
    color: white;
}
.header_part .overlay_part .container .welcome_part{
    position: absolute;
    top: 135px;
    left: 118px;
    background: #fff;
    width: 900px;
    height: 80px;
    opacity: .9;
}
.header_part .overlay_part .container .welcome_part h2{
    
    margin-left: 35px;
    font-size: 60px;
}
.header_part .overlay_part .container #box_part{
    margin-top: 110px;
    margin-left: 300px;
    height: 400px;
    width: 500px;
    background: #CBEDEA;
}
.hide_class{
    display: none;
}
.header_part .overlay_part .container #box_part .stylebutton1{
    float: right;
    background: red;
    color: white;
}
.header_part .overlay_part .container #box_part h3{
    color: black;
    line-height: 100px;
}
.header_part .overlay_part .container #box_part .stylebutton2{
    color: black;
}
.header_part .overlay_part .container .login_form_part{
    background: #CBEDEA;
}
.header_part .overlay_part .container .login_form_part form{
    margin: 20px auto;
    width: 320px;
    color: steelblue;
}
.header_part .overlay_part .container .login_form_part input{
    padding: 5px;
}
.header_part .overlay_part .container .login_form_part input[type="email"]{
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid steelblue;
    background: #FDE67C;
}
.header_part .overlay_part .container .login_form_part input[type="password"]{
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid steelblue;
    background: #FDE67C;
}
.header_part .overlay_part .container .login_form_part input[type="submit"]{
    width: 320px;
    height: 37px;
    border: none;
    background: steelblue;
    color: white;
    margin-bottom: 30px;
}
.header_part .overlay_part .container .login_form_part input[type="submit"]:focus{
    width: 320px;
    height: 37px;
    border: soild steelblue;
    background: white;
    color: steelblue;
}
.header_part .overlay_part .container .login_form_part input:focus{
    background: white;
}
.header_part .overlay_part .container #box_part2{
    margin-top: 110px;
    margin-left: 300px;
    height: 400px;
    width: 500px;
    background: #CBEDEA;
}
.header_part .overlay_part .container #box_part2 .stylebutton3{
    float: right;
    background: red;
    color: white;
}
.header_part .overlay_part .container .signin_form_part{
    background: #CBEDEA;
    margin-top: 50px;
}
.header_part .overlay_part .container .signin_form_part form{
    margin: 20px auto;
    width: 320px;
    color: steelblue;
}
.header_part .overlay_part .container .signin_form_part input{
    padding: 5px;
}
.header_part .overlay_part .container .signin_form_part input[type="email"]{
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid steelblue;
    background: #FDE67C;
}
.header_part .overlay_part .container .signin_form_part input[type="password"]{
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid steelblue;
    background: #FDE67C;
}
.header_part .overlay_part .container .signin_form_part input[type="submit"]{
    width: 320px;
    height: 37px;
    border: none;
    background: steelblue;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
}
.header_part .overlay_part .container .signin_form_part input[type="submit"]:focus{
    width: 320px;
    height: 37px;
    border: soild steelblue;
    background: white;
    color: steelblue;
}
.header_part .overlay_part .container .signin_form_part input:focus{
    background: white;
}
/* Header area end */


/* About area start */
.welcome_parts{
    margin-top: 50px;
    margin-bottom: 80px;
}
.welcome_parts .container{}
.welcome_parts .container .left_part{}
.welcome_parts .container .left_part img{
    width: 580px;
    height: 580px;
}
.welcome_parts .container .right_part{
    margin-top: 120px;
    margin-left: 50px;
}
.welcome_parts .container .right_part h2{
    margin-bottom: 15px;
}
.welcome_parts .container .right_part h2 i{
    color: #FFB606;
}
.welcome_parts .container .right_part p{
    text-align: justify;
    margin-bottom: 40px;
}
.welcome_parts .container .right_part a{
    background: #ffb606;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 18px;
}
.welcome_parts .container .right_part a:hover{
    background: white;
    color: black;
    border: 1px solid black;
}
/* About area end */


/* Blog part start */
.blog_part{}
.blog_part h3{
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 50px;
}
.blog_part .background_image{}
.blog_part .background_image .image1{
    background-image: url(../images/story_bg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 300px;
    float: right;
}
.blog_part .background_image .image2{
    margin-top: 500px;
    background-image: url(../images/story_bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 300px;
    float: left; 
}
.blog_part .background_image .container{}
.blog_part .background_image .container .part1{}
.blog_part .background_image .container .part1 h4{
    margin-top: 40px;
}
.blog_part .background_image .container .part1 p{
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: justify;
}
.blog_part .background_image .container .part1 a{
    background: #ffb606;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    font-size: 18px;
}
.blog_part .background_image .container .part1 a:hover{
    background: #fff;
    color: black;
    border: 1px solid black;
}
.blog_part .background_image .container .part1 img{
   margin-left: -200px;
}
.blog_part .background_image .container .part2{
    margin-top: 90px;
    margin-bottom: 50px;
}
.blog_part .background_image .container .part2 h4{
    margin-top: 40px;
}
.blog_part .background_image .container .part2 p{
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: justify;
}
.blog_part .background_image .container .part2 a{
    background: #ffb606;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    font-size: 18px;
}
.blog_part .background_image .container .part2 a:hover{
    background: #fff;
    color: black;
    border: 1px solid black;
}
/* Blog part end */


/* recipe part start */
.recipe_part{
    margin-top: 80px;
}
.recipe_part .backgroud_part_recipe{
    background-image: url(../images/food-bg.png);
    background-repeat: no-repeat;
    background-position: top right; 
}
.recipe_part .backgroud_part_recipe .header_part_recipe{}
.recipe_part .backgroud_part_recipe .header_part_recipe h4{
    font-size: 50px;
}
.recipe_part .backgroud_part_recipe .header_part_recipe p{
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: justify;
}
.recipe_part .backgroud_part_recipe .container .part1{
    width: 352px;
    height: 450px;
    margin-bottom: 30px;
    overflow: hidden;
}
.recipe_part .backgroud_part_recipe .container .part1 h4{
    margin-top: 40px;
    margin-left: 30px;
}
.recipe_part .backgroud_part_recipe .container .part1 p{
    margin-left: 30px;
    margin-top: 10px;
}
.recipe_part .backgroud_part_recipe .container .part1:hover{
    background: #FFB606;
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part1 img:hover{
    transform: scale(1.1,1.1);
    transition: .5s;
}
body:hover img{
    transition: 1s;
}
body:hover .part1{
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part2{
    width: 352px;
    height: 450px;
    margin-bottom: 20px;
    overflow: hidden;
}
.recipe_part .backgroud_part_recipe .container .part2 h4{
    margin-top: 40px;
    margin-left: 30px;
}
.recipe_part .backgroud_part_recipe .container .part2 p{
    margin-left: 30px;
    margin-top: 10px;
}
.recipe_part .backgroud_part_recipe .container .part2:hover{
    background: #FFB606;
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part2 img:hover{
    transform: scale(1.1,1.1);
    transition: .5s;
}
body:hover img{
    transition: 1s;
}
body:hover .part2{
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part3{
    width: 352px;
    height: 450px;
    margin-bottom: 30px;
    overflow: hidden;
}
.recipe_part .backgroud_part_recipe .container .part3 h4{
    margin-top: 40px;
    margin-left: 30px;
}
.recipe_part .backgroud_part_recipe .container .part3 p{
    margin-left: 30px;
    margin-top: 10px;
}
.recipe_part .backgroud_part_recipe .container .part3:hover{
    background: #FFB606;
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part3 img:hover{
    transform: scale(1.1,1.1);
    transition: .5s;
}
body:hover img{
    transition: 1s;
}
body:hover .part3{
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part4{
    width: 352px;
    height: 450px;
    margin-bottom: 20px;
    overflow: hidden;
}
.recipe_part .backgroud_part_recipe .container .part4 h4{
    margin-top: 40px;
    margin-left: 30px;
}
.recipe_part .backgroud_part_recipe .container .part4 p{
    margin-left: 30px;
    margin-top: 10px;
}
.recipe_part .backgroud_part_recipe .container .part4:hover{
    background: #FFB606;
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part4 img:hover{
    transform: scale(1.1,1.1);
    transition: .5s;
}
body:hover img{
    transition: 1s;
}
body:hover .part4{
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part5{
    width: 352px;
    height: 450px;
    margin-bottom: 30px;
    overflow: hidden;
}
.recipe_part .backgroud_part_recipe .container .part5 h4{
    margin-top: 40px;
    margin-left: 30px;
}
.recipe_part .backgroud_part_recipe .container .part5 p{
    margin-left: 30px;
    margin-top: 10px;
}
.recipe_part .backgroud_part_recipe .container .part5:hover{
    background: #FFB606;
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part5 img:hover{
    transform: scale(1.1,1.1);
    transition: .5s;
}
body:hover img{
    transition: 1s;
}
body:hover .part5{
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part6{
    width: 352px;
    height: 450px;
    margin-bottom: 20px;
    overflow: hidden;
}
.recipe_part .backgroud_part_recipe .container .part6 h4{
    margin-top: 40px;
    margin-left: 30px;
}
.recipe_part .backgroud_part_recipe .container .part6 p{
    margin-left: 30px;
    margin-top: 10px;
}
.recipe_part .backgroud_part_recipe .container .part6:hover{
    background: #FFB606;
    transition: 1s;
}
.recipe_part .backgroud_part_recipe .container .part6 img:hover{
    transform: scale(1.1,1.1);
    transition: .5s;
}
body:hover img{
    transition: 1s;
}
body:hover .part6{
    transition: 1s;
}
/* recipe part end */


/* footer part start */
.footer_part{
    margin-top: 80px;
/*    background: #0E2737;*/
/*    background: #131230;*/
    background: #101315;
    height: 400px;
    width: auto;
}
.footer_part .part1 img{
    width: 100px;
    height: 110px;
    margin-top: 50px;
    margin-left: 60px;
    padding: 15px 15px 15px 0px;
}
.footer_part .part1 h4{
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}
.footer_part .part1 p{
    color: white;
}
.footer_part .part2 h4{
    color: white;
    margin-top: 50px;
    padding: 15px 15px 15px 0px;
}
.footer_part .part2 p{
    color: white;
    font-size: 12px;
}
.footer_part .part2 a{
    color: white;
    margin-top: 5px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
    background: #1C1F21;
}
.footer_part .part3 h4{
    color: white;
    margin-top: 50px;
    padding: 15px 15px 15px 0px;
    padding-left: 80px;
}
.footer_part .part3 a{
    color: white;
    display: block;
    padding-left: 80px;
    padding-top: 5px;
}
.footer_part .part4 h4{
    color: white;
    margin-top: 50px;
    padding: 15px 15px 15px 0px;
}
.footer_part .part4 p{
    color: white;
    font-size: 12px;
}
.footer_part .part4 form{
    width: 280px; 
    margin-top: 30px;
}
.footer_part .part4 form input{
    padding: 10px;
}
.footer_part .part4{
    position: relative;
}
.footer_part .part4 form input[type="email"]{
    display: block;
    width: 100%;
    border: 2px solid steelblue;
    background: #FDE67C;
    border-radius: 20px;
}
.footer_part .part4 form a{
    position: absolute;
    top: 115px;
    right: -17px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
    background: #1CC3B2;
}
.footer_part .part4 form a:hover{
    color: white;
    background: black;
    transition: 1s;
}
.footer_part .part4 form input:focus{
    background: white;
}
/* footer_end_part start */
.footer_end_part hr{
    background: white;
    margin-top: 40px;
}
.footer_end_part p{
    color: white;
}
/* footer_end_part end */
/* footer part end */


/* end botton start */
.end_button{
    position: fixed;
    right: 35px;
    bottom: 80px;
}
.end_button a{}
.end_button a i{
    font-size: 50px;
}
/* end botton end */